@import "variable.styl"
@import "mixin.styl"
html, body
  margin: 0
  padding: 0
  background-color: #efeff4

p, ol, ul, li
  margin: 0
  padding: 0

a
  text-decoration: none

[gourl]
  cursor: pointer

button
  margin: 0
  padding: 0
  border: none
  border-radius: 0
  outline: 0
  background: transparent
  color: $color-text-main

view, div
  color: $color-text-main
  font-size: $font-size-14
  box-sizing: border-box

navigator
  color: $color-text-main
  text-decoration: none
  box-sizing: border-box

image
  display: inline-block

.pointer
  cursor: pointer

.none
  display: none

.flex
  display: flex
  flex-direction: row

.flex-col
  display: flex
  flex-direction: column

.flex-1
  flex: 1

.flex-wrap
  flex-wrap: wrap

/***定义了 flex 容器中 flex 成员项在纵轴方向上如何排列以处理空白部分***/
.flex-ai-stretch
  align-items: stretch

.flex-ai-start
  align-items: flex-start

.flex-ai-end
  align-items: flex-end

.flex-ai-center
  align-items: center

/***定义了 flex 容器中 flex 成员项在主轴方向上如何排列以处理空白部分***/
.flex-jc-start
  justify-content: flex-start

.flex-jc-end
  justify-content: flex-end

.flex-jc-center
  justify-content: center

.flex-jc-bettwen
  justify-content: space-between

.flex-center
  text-align: center
  justify-content: center
  align-items: center

/*字体*/
.text-right
  text-align: right

.text-center
  text-align: center

.text-left
  text-align: left

.ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.fw-600
  font-weight: 600

.f36
  font-size: $font-size-36

.f28
  font-size: $font-size-28

.f22
  font-size: $font-size-2

.f20
  font-size: $font-size-2

.f18
  font-size: $font-size-1

.f16
  font-size: $font-size-1

.f14
  font-size: $font-size-1

.f12
  font-size: $font-size-1

.text-main
  color: $color-mai

.text-sub
  color: $color-text-su

.text-assist
  color: $color-text-assis

.text-red
  color: $color-re

.text-white
  color: $color-whit

/****定位*****/
.pos-fixed
  position: fixed

.pos-abs
  position: absolute

.pos-relative
  position: relative

/****浮动****/
.fr
  float: right

.fl
  float: left

.clearfix
  clear: both
  display: flex
  width: 100%

/***padding****/
.pd-5
  padding: 10 rpx

.pdl-5
  padding-left: 10 rpx

.pdr-5
  padding-right: 10 rpx

.pdt-5
  padding-top: 10 rpx

.pdb-5
  padding-bottom: 10 rpx

.pd-10
  padding: 20 rpx

.pdl-10
  padding-left: 20 rpx

.pdr-10
  padding-right: 20 rpx

.pdt-10
  padding-top: 20 rpx

.pdb-10
  padding-bottom: 20 rpx

.pdb-30
  padding-bottom: 60 rpx

.pdt-0
  padding-top: 0 rpx

.pdl-0
  padding-left: 0 rpx

.pdb-0
  padding-bottom: 0 rpx

.pdr-0
  padding-right: 0 rpx

/***margin****/
.mg-5
  margin: 10 rpx

.mgb-5
  margin-bottom: 10 rpx

.mgt-5
  margin-top: 10 rpx

.mgl-5
  margin-left: 10 rpx

.mgr-5
  margin-right: 10 rpx

.mg-10
  margin: 20 rpx

.mgb-10
  margin-bottom: 20 rpx

.mgt-10
  margin-top: 20 rpx

.mgl-10
  margin-left: 20 rpx

.mgr-10
  margin-right: 20 rpx

.mgr-20
  margin-right: 20 rpx

.mgb-20
  margin-bottom: 20 rpx

.mgl-20
  margin-left: 20 rpx

.mgt-20
  margin-top: 20 rpx

.mgb-0
  margin-bottom: 0 rpx

.mgt-0
  margin-top: 0 rpx

.mgl-0
  margin-left: 0 rpx

.mgr-0
  margin-right: 0 rpx

// 边框
.border-top-1px
  border-top-1px()

.border-right-1px
  border-right-1px()

.border-bottom-1px
  border-bottom-1px()

.border-left-1px
  border-left-1px()

.border-1px
  border-1px()

